In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('water_potability.csv')
df2 = pd.read_csv('water_potability.csv')

print(df1.info())
print(df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3114 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3114 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB
None

In [3]:
df1['Trihalomethanes'] = df1['Trihalomethanes'].fillna(df1['Trihalomethanes'].mean())
df2['Trihalomethanes'] = df2['Trihalomethanes'].fillna(df2['Trihalomethanes'].mean())

print(df1.info())
print(df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3276 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3276 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB
None

In [4]:
df1 = df1.dropna(subset=['ph', 'Sulfate'])
df2 = df2.dropna(subset=['ph', 'Sulfate'])

print(df1.info())
print(df2.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2116 entries, 3 to 3271
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2116 non-null   float64
 1   Hardness         2116 non-null   float64
 2   Solids           2116 non-null   float64
 3   Chloramines      2116 non-null   float64
 4   Sulfate          2116 non-null   float64
 5   Conductivity     2116 non-null   float64
 6   Organic_carbon   2116 non-null   float64
 7   Trihalomethanes  2116 non-null   float64
 8   Turbidity        2116 non-null   float64
 9   Potability       2116 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 181.8 KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2116 entries, 3 to 3271
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2116 non-null   float64
 1   Hardness         2116 non-null   float64
 2   Solids           2116 non-null   float64
 3   Chloramines      2116 non-null   float64
 4   Sulfate          2116 non-null   float64
 5   Conductivity     2116 non-null   float64
 6   Organic_carbon   2116 non-null   float64
 7   Trihalomethanes  2116 non-null   float64
 8   Turbidity        2116 non-null   float64
 9   Potability       2116 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 181.8 KB
None

In [5]:
print(df1['Potability'].value_counts())

0    1269
1     847
Name: Potability, dtype: int64

In [6]:
from imblearn.over_sampling import SMOTE

X1 = df1.loc[:, df1.columns != 'Potability']
Y1 = df1.Potability
X2 = df2.loc[:, df2.columns != 'Potability']
Y2 = df2.Potability

smote = SMOTE(k_neighbors=3, random_state=1234)
resam_X1,resam_Y1 = smote.fit_resample(X1, Y1)
resam_X2,resam_Y2 = smote.fit_resample(X2, Y2)

df1 = pd.concat([pd.DataFrame(resam_X1), pd.DataFrame(resam_Y1)], axis=1)
df2 = pd.concat([pd.DataFrame(resam_X2), pd.DataFrame(resam_Y2)], axis=1)

print(df1['Potability'].value_counts())
print(df2['Potability'].value_counts())

0    1269
1    1269
Name: Potability, dtype: int64
0    1269
1    1269
Name: Potability, dtype: int64

In [7]:
# ph
# value < 6.5 is acidic
# value >= 6.5 and value <= 8.5 is neutral
# value > 8.5 is alkaline

print(df1['ph'].describe())

df1['ph'] = np.where((df1.ph < 6.5), 0.0, df1.ph)
df1['ph'] = np.where((df1.ph >= 6.5) & (df1.ph <= 8.5), 1.0, df1.ph)
df1['ph'] = np.where((df1.ph > 8.5), 2.0, df1.ph)

print(df1['ph'].describe())

count    2538.000000
mean        7.107611
std         1.537785
min         0.227499
25%         6.153401
50%         7.059403
75%         8.027921
max        14.000000
Name: ph, dtype: float64
count    2538.000000
mean        0.843972
std         0.693518
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         2.000000
Name: ph, dtype: float64

In [8]:
# Hardness
# value <= 60 is soft (0)
# value 61- 120 is moderate (1)
# value 121 - 180 is hard (2)
# value value >= 181 is very hard (3)
df1['Hardness'] = np.where((df1.Hardness <= 60), 0.0, df1.Hardness)
df1['Hardness'] = np.where((df1.Hardness > 60) & (df1.Hardness <= 120), 1.0, df1.Hardness)
df1['Hardness'] = np.where((df1.Hardness > 120) & (df1.Hardness <= 180), 2.0, df1.Hardness)
df1['Hardness'] = np.where((df1.Hardness > 180), 3.0, df1.Hardness)

print(df1['Hardness'].describe())

count    2538.000000
mean        2.700158
std         0.494678
min         0.000000
25%         2.000000
50%         3.000000
75%         3.000000
max         3.000000
Name: Hardness, dtype: float64

In [9]:
print(df1['Solids'].describe())

count     2538.000000
mean     22050.223266
std       8687.577565
min        320.942611
25%      15740.895528
50%      20977.964208
75%      27378.419624
max      56488.672413
Name: Solids, dtype: float64

In [10]:
# Chloramines
# value <= 4.0 is safe (0)
# value > 4.0  is unsafe (1)

df1['Chloramines'] = np.where((df1.Chloramines <= 4.0), 0.0, df1.Chloramines)
df1['Chloramines'] = np.where((df1.Chloramines > 4.0), 1.0, df1.Chloramines)
print(df1['Chloramines'].describe())

count    2538.000000
mean        0.973207
std         0.161509
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: Chloramines, dtype: float64

In [11]:
# Sulfate
print(df1['Sulfate'].describe())

count    2538.000000
mean      333.143793
std        40.710937
min       129.000000
25%       307.674220
50%       332.751774
75%       359.031416
max       481.030642
Name: Sulfate, dtype: float64

In [12]:
# Conductivity
# value <= 400 is safe (0)
# value > 400 is unsafe (1)

df1['Conductivity'] = np.where((df1.Conductivity <= 400), 0.0, df1.Conductivity)
df1['Conductivity'] = np.where((df1.Conductivity > 400), 1.0, df1.Conductivity)

print(df1['Conductivity'].describe())

count    2538.000000
mean        0.606383
std         0.488648
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: Conductivity, dtype: float64

In [13]:
# Organic_carbon
# value <= 5.0 is safe (0)
# value > 5.0 is unsafe (1)

df1['Organic_carbon'] = np.where((df1.Organic_carbon <= 5.0), 0.0, df1.Organic_carbon)
df1['Organic_carbon'] = np.where((df1.Organic_carbon > 5.0), 1.0, df1.Organic_carbon)

print(df1['Organic_carbon'].describe())

count    2538.00000
mean        0.99803
std         0.04435
min         0.00000
25%         1.00000
50%         1.00000
75%         1.00000
max         1.00000
Name: Organic_carbon, dtype: float64

In [14]:
# Trihalomethanes
# value <= 80 is safe (0)
# value > 80 is unsafe (1)

df1['Trihalomethanes'] = np.where((df1.Trihalomethanes <= 80), 0.0, df1.Trihalomethanes)
df1['Trihalomethanes'] = np.where((df1.Trihalomethanes > 80), 1.0, df1.Trihalomethanes)

print(df1['Trihalomethanes'].describe())

count    2538.000000
mean        0.173759
std         0.378977
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: Trihalomethanes, dtype: float64

In [15]:
# Turbidity
# value <= 5.0 is safe (0)
# value > 5.0 is unsafe (1)

df1['Turbidity'] = np.where((df1.Turbidity <= 5.0), 0.0, df1.Turbidity)
df1['Turbidity'] = np.where((df1.Turbidity > 5.0), 1.0, df1.Turbidity)

print(df1['Turbidity'].describe())

count    2538.000000
mean        0.088652
std         0.284297
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: Turbidity, dtype: float64

In [16]:

def normalize_df(df):
    out = df.copy()
    for features in df.columns:
        if features != 'Potability':
            max_value = df[features].max()
            min_value = df[features].min()
            print("features {}, max value {}, min value {}".format(features, max_value, min_value))
            out[features] = (df[features] - min_value) / (max_value - min_value)
            
    return out

df1 = normalize_df(df1)
df2 = normalize_df(df2)

print(df1.head(5))
print()
print(df2.head(5))

features ph, max value 2.0, min value 0.0
features Hardness, max value 3.0, min value 0.0
features Solids, max value 56488.67241273919, min value 320.942611274359
features Chloramines, max value 1.0, min value 0.0
features Sulfate, max value 481.0306423059972, min value 129.00000000000003
features Conductivity, max value 1.0, min value 0.0
features Organic_carbon, max value 1.0, min value 0.0
features Trihalomethanes, max value 1.0, min value 0.0
features Turbidity, max value 1.0, min value 0.0
features ph, max value 13.999999999999998, min value 0.2274990502021987
features Hardness, max value 317.33812405558257, min value 47.432
features Solids, max value 56488.67241273919, min value 320.942611274359
features Chloramines, max value 13.127000000000002, min value 1.3908709048851806
features Sulfate, max value 481.0306423059972, min value 129.00000000000003
features Conductivity, max value 753.3426195583046, min value 201.6197367551575
features Organic_carbon, max value 27.00670661116601, min value 2.1999999999999886
features Trihalomethanes, max value 124.0, min value 8.577012932983806
features Turbidity, max value 6.494748555990993, min value 1.45
    ph  Hardness    Solids  Chloramines   Sulfate  Conductivity  \
0  0.5       1.0  0.386298          1.0  0.647347           0.0
1  1.0       1.0  0.314381          1.0  0.514545           0.0
2  0.0       1.0  0.506122          1.0  0.561537           0.0
3  1.0       1.0  0.506141          1.0  0.751819           0.0
4  1.0       1.0  0.237701          1.0  0.495155           1.0

   Organic_carbon  Trihalomethanes  Turbidity  Potability
0             1.0              1.0        0.0           0
1             1.0              0.0        0.0           0
2             1.0              0.0        0.0           0
3             1.0              1.0        0.0           0
4             1.0              0.0        0.0           0

         ph  Hardness    Solids  Chloramines   Sulfate  Conductivity  \
0  0.587349  0.618517  0.386298     0.568199  0.647347      0.292985
1  0.643654  0.495244  0.314381     0.439304  0.514545      0.356685
2  0.388934  0.521964  0.506122     0.524364  0.561537      0.142913
3  0.725820  0.743369  0.506141     0.521683  0.751819      0.148683
4  0.610517  0.577718  0.237701     0.270288  0.495155      0.494792

   Organic_carbon  Trihalomethanes  Turbidity  Potability
0        0.654522         0.795029   0.630115           0
1        0.377248         0.202914   0.520358           0
2        0.249922         0.401487   0.219973           0
3        0.467200         0.658678   0.242428           0
4        0.409721         0.469762   0.585049           0

In [17]:
df1.to_csv('water_quality_categorized.csv', index=False)
df2.to_csv('water_quality_normalized.csv', index=False)